body{
    background-color: #eaf3ff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
   text-align: center; 
   margin-top: 50px;
   background-color: white;
   padding: 30px;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 15px;
}
h1 {
    color: #2b6cb0;
}
p{
    color: #444;
}
img {
    width: 200px;
    border-radius: 10px;
    margin-top: 15px;
}
h2 {
    color: #2b6cb0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 5px 0;
}
.preco {
    color: #1e40af;
    margin-top: 15px;
}
button {
    background-color: #2b6cb0;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}
/* HOVER */
button:hover {
    background-color: #1e40af;
}