body{
    background: linear-gradient(to bottom, #dbeafe) #f8fbff;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
   text-align: center; 
   margin-top: 50px;
   background-color: white;
   padding: 40px;
   max-width: 500px;
   margin: 60px auto;
   border-radius: 25px;
   box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.01);
}
h1 {
    color: #2b6cb0;
    font-weight: 600;
}
p{
    color: #666;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    margin: 20px 0;
    display: block;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #6b8fcf;
    margin-top: 20px;
}

ul {
    list-style: disc;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
    color: #555;
}
li {
    margin: 6px 0;
    color: #555;
}
h3 {
    color: #4a6fa5;
    margin-top: 15px;
}
button {
    background-color: #1d528b;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    border-radius: 25px;
}
/* HOVER */
button:hover {
    background-color: #1c3177;
}